{% extends 'main/layouts/base_public.html' %}
{% load static vite %}

{% block title %}Rent Nerd{% endblock %}
{% block body_class %}landing-body{% endblock %}
{% block extra_head %}
{% vite_client %}
{% vite_styles 'src/home/main.jsx' %}
<link rel="stylesheet" href="{% static 'main/css/pages/home-avatar-override.css' %}?v=20260417a">
{% endblock %}

{% block content %}
{{ home_props|json_script:"home-app-props" }}
<div id="home-app"></div>
{% endblock %}

{% block scripts %}
{% vite_script 'src/home/main.jsx' %}
<script src="{% static 'main/js/home-avatar-menu.js' %}?v=20260407a" defer></script>
{% endblock %}
